<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/fragmentos-layout :: cabecalho">
   <title>Cadastro Produto</title>
</head>

<body>

	<header th:replace="fragmentos/fragmentos-layout :: barra-navegacao"></header>

    <main class="container mt-5">
		
		<div th:replace="fragmentos/fragmentos-mensagens :: mensagem-sucesso"></div>

        <h2>Cadastro de Produto</h2>

		<form th:action="@{/produto/salva}" method="POST" th:object="${produto}"
		      enctype="multipart/form-data">
			
		  <div th:replace="fragmentos/fragmentos-mensagens :: mensagem-erro"></div>
		  			
		  <input type="hidden"  th:field="*{id}"/>		
		  	
		  <div class="row">	

			  <div class="col-sm-2 form-group" 
			              th:classappend="${#fields.hasErrors('sku')} ? has-danger">
			    <label for="sku" class="form-control-label campo-requerido">SKU</label> 
			    <input type="text" id="sku" th:field="${produto.sku}" class="form-control" > 
			  </div>	
			  	
			  <div class="col-sm-10 form-group" 
			       th:classappend="${#fields.hasErrors('nome')} ? has-danger">
			    <label for="nome" class="form-control-label campo-requerido">Nome</label> 
			    <input type="text" id="nome" th:field="${produto.nome}" class="form-control" > 
			  </div>
		  </div>
		  		
        <div class="row"> 
			<div class="col-sm-2 form-group">
				<label>Categorias</label>
				
				<ul style="list-style: none; border: 1px SOLID #CCC; padding-left:0.3em; border-radius: 0.3em;">
					
					<li th:each="categoria : ${todasCategorias}">
						<input type="checkbox" th:field="${produto.categorias}" th:value="${categoria.id}"> 
						<label th:for="${#ids.prev('categorias')}" th:text="${categoria.nome}"></label>
					</li>
				</ul>
			</div>
	
	  		<div class="col-sm-10 form-group">
			    <label for="descricao">Descrição</label>
			    <textarea id="descricao" th:field="*{descricao}" rows="6" 
			              class="form-control"></textarea>
	        </div>
        </div>

        <div class="row">
        
		  <div class="col-sm-2 form-group" th:classappend="${#fields.hasErrors('preco')} ? has-danger">
		    <label for="preco" class="form-control-label" >Preço</label> 
		    <input type="text" id="preco" th:field="*{preco}" class="form-control moeda-js"> 
		  </div>

           	<div class="col-sm-5 form-group" th:classappend="${#fields.hasErrors('dataValidade')} ? has-danger">
 			  <label for="dataValidade" class="form-control-label">Data Validade</label> 
 			  <input type="text" id="dataValidade" th:field="${produto.dataValidade}"
				     class="form-control">

		    </div>
		    
		    <div class="col-sm-5 form-group">
            
	            <label for="selectFornecedor">Fornecedor</label>
	            
	            <div style="display:flex;">
				
					<select id="selectFornecedor" class="custom-select" th:field="*{fornecedor}" >
					  <option disabled="disabled" value="">Selecione um fornecedor</option>
					  
					  <option th:each="fornecedor : ${fornecedores}" 
					          th:value="${fornecedor.id}"
					          th:text="${fornecedor.nome}"></option>
					</select>
					<div style="margin-left: 0.5em">
					  <a href="#" data-toggle="modal" data-target="#modal-cadastro-fornecedor">
						<i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
					  </a>
					</div>
				</div>	
           </div>
        </div>  <!-- row -->

		<div class="row">
			<div class="col-sm-6  form-group">
					<label for="origem">Origem</label>
					<div>
						<th:block th:each="origem : ${origens}">
							<div class="form-check form-check-inline">
								<input th:id="${origem}" type="radio" th:value="${origem}" th:field="*{origem}"> 
								<label th:for="${origem}" th:text="${origem.descricao}"
								       class="form-check-label"></label>
							</div>
						</th:block>
					</div>
				</div>
			
			<!-- upload da imagem (foto) do produto -->
			<div class="col-sm-6 form-group">
				<div class="col-md-offset-1 col-md-9">
				  <label for="imagem">Foto do Livro</label>
					<input type="file" name="imagemDoProduto" id="imagem" class="form-control" 
					       accept="png, jpeg, jpg"
					       title="Selecione a Imagem (foto) do Produto" />
				</div>
			</div>
		</div> <!-- row -->

		<button type="submit" class="btn btn-outline-primary">Salvar</button>

		</form>
		
		<div th:replace="fragmentos/modal/cadastro-fornecedor :: modal-fornecedor"></div>
</main>

 <th:block th:replace="fragmentos/fragmentos-scripts :: bootstrap" ></th:block> 
 
 <script th:src="@{/js/fornecedor-cadastro-ajax.js}"></script>
 <script th:src="@{/js/jquery.maskMoney.min.js}"></script>
 
 <script>
 $(".moeda-js").maskMoney(
		         { prefix:'R$ ', 
		        	allowNegative: true, 
		        	thousands:'.', decimal:',', 
		        	affixesStay: false
                });
 </script>
</body>
</html>
